.quantity-input {
  width: 150px;
  margin-bottom: 15px;
  & > div {
    display: flex;
    height: 50px;
    width: 50px;
    border: 1px solid #d2d2d2;
    justify-content: center;
    align-items: center;
  }
  .minus {
    border-radius: 100px 0 0 100px;
    cursor: pointer;
    &:hover {
      background-color: #d2d2d2;
    }
  }
  .plus {
    border-radius: 0 100px 100px 0;
    cursor: pointer;
    &:hover {
      background-color: #d2d2d2;
    }
  }
}
