header {
  height: 70vh;
  background-image: url("https://cdn.shopify.com/s/files/1/1687/1083/collections/IMG_5047_1296x.jpg?v=1591184905");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 22px;
  .anouncement {
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding: 5px 0;
  }
  .bg-light {
    background-color: transparent !important;
  }
  .navbar {
    box-shadow: none;
    margin: 0 !important;
  }
  a {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
  li {
    position: relative;
    margin: 0px 5px;
    &:after {
      content: "";
      display: block;
      border-bottom: 2.5px solid #fff;
      width: 0;
      position: absolute;
      left: 0;
      -webkit-transition: 1s ease;
      transition: 1s ease;
    }
    &:hover:after {
      width: 100%;
    }
    a {
      &:hover {
        text-decoration: none;
      }
    }
    .nav-link {
      padding: 0px;
    }
  }
  .icons {
    width: 100%;
    svg {
      width: 20px;
      margin: 0 15px;
      cursor: pointer;
    }
  }
}
